@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: radial-gradient(50% 50% at 50% 50%, #03339b 0%, #01061b 100%)

}
.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, #03f89a22, transparent 70%);
  overflow: hidden;
}
.title{
  @apply text-3xl font-bold mb-8 text-center;
}
.gradient-text {
  @apply bg-transparent bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-blue-700 font-bold;
}
.span {
  @apply text-purple-300;
}