@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(1, 6, 27);

}
.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, #03f89a22, transparent 70%);
}